(4)Feature Encoding Techniques (Label Encoding, One Hot Encoding, and Dummy Encoding)

* Encoding is a process of converting non numeric value into a numeric value for better training and testing of
ML model and algorithm.

Mainly there are 3 types of encoding

1. Label encoding
---------------------------
It assign each category in a feature column a unique integer value
let say we have a column 
color=['red','blue','green']
after encoding..
color=[2,0,1]

label encoding is simple, and no increase in dimentionality
label encoding implies an 'ordinal relationship' (red>green>blue), which might be different that real life scenerio


2. One Hot encoding
-------------------------------------
In this encoding, creates binary colums for each category, with 0,1 0: absent, 1: present
taking the same example
color=['red','blue','green']

after one hot encoding
color_red   color_blue  color_green
    1           0           0
    0           1           1
    0           0           1

In one hot encoding, there is no 'ordinal relationship'  
but it increases the dimentionality


3. Dummy encoding
-------------------------------------
Similar to one hot encoding, but it avoids one category to avoid dummy variable trap

so in the previous example, if we apply dummy encoding
we'll get
Color_Red	Color_Blue
    1	        0
    0	        1
    0           0
    0           1

color_green will be removed

Dummy encoding good as it avoids multicollinarity
but it still increases dimentionality.

(a) Apply Label Encoding to a suitable categorical column (e.g., Embarked or Sex).
 Explain what the resulting numeric labels represent.

In [1]:
import pandas as pd
csv_data=pd.read_csv('titanic_csv.csv')
# print(csv_data.head())

# applying label encoding on 'sex' 
csv_data['label_sex']=pd.factorize(csv_data['Sex'])[0]
# [0] usage because pd.factorize return set of two tuples
# codes, and values of the particular featues
# we need to select the codes, so we are using [0]


# applying label encoding on 'embarked' 
csv_data['label_embarked']=pd.factorize(csv_data['Embarked'])[0]
print(csv_data)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked  label_sex  label_embarked
0                330911    7.8292   NaN        Q          0               0
1                363272    7.0000   NaN        S          1               1
2                240276    9.6875   NaN        Q          0               0
3                315154    8.6625   NaN        S          0               1
4               3101298   12.2875   NaN        S          1               1
..                  ...       ...   ...      ...        ...             ...
413           A.5. 3236    8.0500   NaN        S          0               1
414            PC 17758  108.9000  C105        C          1               2
415  SOTON/O.Q. 3101262    7.2500   NaN        S          0               1
416              359309    8.0500   NaN        S          0               1
417                2668   22.3583   NaN        C          0               2

[418 rows x 14 columns]

(b) Apply One-Hot Encoding to the same column(s). Show how k new binary columns
 are created for k categories. Comment on the representation and redundancy in this
 encoding scheme.

In [2]:

onehotencode_data=pd.get_dummies(csv_data,columns=['Sex','Embarked'],dtype=int)
print(onehotencode_data)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name   Age  SibSp  Parch  \
0                                Kelly, Mr. James  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  47.0      1      0
2                       Myles, Mr. Thomas Francis  62.0      0      0
3                                Wirz, Mr. Albert  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1
..                                            ...   ...    ...    ...
413                            Spector, Mr. Woolf   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  39.0      0      0
415                  Saether, Mr. Simon Sivertsen  38.5      0      0
416                           Ware, Mr. Frederick   NaN      0      0
417                      Peter, Master. Michael J   NaN      1      1

                 Ticket      Fare Cabin  label_sex  label_embarked  \
0                330911    7.8292   NaN          0               0
1                363272    7.0000   NaN          1               1
2                240276    9.6875   NaN          0               0
3                315154    8.6625   NaN          0               1
4               3101298   12.2875   NaN          1               1
..                  ...       ...   ...        ...             ...
413           A.5. 3236    8.0500   NaN          0               1
414            PC 17758  108.9000  C105          1               2
415  SOTON/O.Q. 3101262    7.2500   NaN          0               1
416              359309    8.0500   NaN          0               1
417                2668   22.3583   NaN          0               2

     Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0             0         1           0           1           0
1             1         0           0           0           1
2             0         1           0           1           0
3             0         1           0           0           1
4             1         0           0           0           1
..          ...       ...         ...         ...         ...
413           0         1           0           0           1
414           1         0           1           0           0
415           0         1           0           0           1
416           0         1           0           0           1
417           0         1           1           0           0

[418 rows x 17 columns]

(c)Apply Dummy Encoding (a variant of One-Hot Encoding). Show how k−1 columns
 are created for k categories by dropping one reference category. Explain how the
 dropped category is represented implicitly.

In [3]:
dummyencode_data=pd.get_dummies(csv_data,columns=['Embarked'],dtype=int, drop_first=True)
print(dummyencode_data)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin  label_sex  label_embarked  \
0                330911    7.8292   NaN          0               0
1                363272    7.0000   NaN          1               1
2                240276    9.6875   NaN          0               0
3                315154    8.6625   NaN          0               1
4               3101298   12.2875   NaN          1               1
..                  ...       ...   ...        ...             ...
413           A.5. 3236    8.0500   NaN          0               1
414            PC 17758  108.9000  C105          1               2
415  SOTON/O.Q. 3101262    7.2500   NaN          0               1
416              359309    8.0500   NaN          0               1
417                2668   22.3583   NaN          0               2

     Embarked_Q  Embarked_S
0             1           0
1             0           1
2             1           0
3             0           1
4             0           1
..          ...         ...
413           0           1
414           0           0
415           0           1
416           0           1
417           0           0

[418 rows x 15 columns]